<!DOCTYPE html>
<html>
    <head>
        <title>Zuhause</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="dashboard.css">
        <script src="index.js" defer></script>
    </head>
    <body>
        <main>
            {{~ it.cards :c }}
            <div class="card">
                <h1>{{=c.title}}</h1>
                {{~ c.entities :e }}
                {{#def.entities }}
                {{ e.state = it.states[e.id]; }}
                <div class="entity">
                    <span>{{=e.name}}</span>
                    {{? e.type === 'switch' }}
                        {{#def.switch_:e}}
                    {{?? e.type === 'binary_sensor' }}
                        {{#def.binary_sensor:e}}
                    {{?}}
                </div>
                {{~}}
            </div>
            {{~}}
        </main>
        <div id="disconnect-message">Verbindung getrennt. Verbinde erneut…</div>
    </body>
</html>
